{
  "extends": "vue",
  "plugins": [
    "html",
    "vue"
  ],
  "rules": {
    "no-new": "off",
    "prefer-const": "off",
    "new-cap": "off"
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": true
  }
}
