{
  "extends": "standard",
  "plugins": [
    "html",
    "vue"
  ],
  "rules": {
    "no-new": "off"
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": true
  }
}
